header
  h1.logo SP
  style.
   h1.logo{
      font-size = 80px;
   }

  nav.site-nav
   ul
    li: a(href="#about") About
    li: a(href="#blog") Blog
    li: a(href="#github") Github
    li: a(href="#twitter") Twitter
    a(href="mailto:saagar.1647@gmail.com").email-link + email me
